h1{
    font-family: "Brush Script MT";
}

@font-face {
    font-family: "Brush Script MT";
    src: local("Brush Script MT");
}

html{
    height: 100%;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

img{
    float: left;
    margin-right: 20px;
}

p{
    float: outside;
    font-size: large;
}

.name{
    text-align: center;
    padding-right: 40%;
}

.back{
    text-align: end;
}